    {% load static %}
    <header>
   <nav  class="navbar navbar-custom bg-transparent  ">

    <a class="navbar-brand d-flex flex-column align-items-center ms-5" href="#home">
        <img src="{% static 'img/Logo.png' %}" alt="Monagua Logo" height="70" />
        
        <span class="nombre-empresa fw-bold text-uppercase text-white mt-1 fs-6">
            Agencia de Viajes y Turismo
        </span>
        <span class="d-block fw-bold text-uppercase text-white fs-6">Monagua</span>
      </a>


<ul class="nav mx-auto gap-3 me-1 ">
  <li class="nav-item">
    <a class="nav-link fs-5 active " aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-5" href="#">Destinos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-5" href="#">Experiencias</a>
  </li>
    <li class="nav-item">
    <a class="nav-link fs-5" href="#">Nosotros</a>
  </li>
    <li class="nav-item">
    <a class="nav-link fs-5" href="#">Contacto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-5" href="#">Blog</a>
  </li>
</ul>

<div class="d-flex ms-auto gap-3 me-5">
  <button class="btn btn-outline-success me-2 px-4 py-2" type="button">Iniciar sesión</button>
  <button class="btn btn-lg btn-outline-secondary " type="button">Reserva ahora</button>
</div>

      </nav>
    </header>