    {% load static %}
    <header>
   <nav class="navbar navbar-expand-lg navbar-custom bg-transparent">
    <div class="container">
      <a class="navbar-brand d-flex flex-column align-items-center" href="#home">
        <img src="{% static 'img/Logo.png' %}" alt="Monagua Logo" height="70" />
        
        <span class="nombre-empresa" style="font-size: 0.8rem; font-weight: bold; text-transform: uppercase; color: #fff; margin-top: 5px;">
            Agencia de Viajes y Turismo
        </span>
        <span style="display: block; font-weight: bold; font-size: 1.1rem; text-transform: uppercase; color: #fff;">Monagua</span>
      </a>

          <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icono navbar-toggler-icono-light"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav gap-lg-4">
              <li class="nav-item">
                <a class="nav-link" href="#home">Inicio</a>
              </li>
             
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'destinos' %}">Destinos</a>
               </li>
              <li class="nav-item">
                <a class="nav-link" href="#experiences">Experiencias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contacto</a>
              </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">Blog</a>
               </li>
            </ul>
          </div>

          <div class="d-none d-lg-flex gap-3">
            <a href="#login" class="btn btn-outline-light btn-lg">Iniciar sesión</a>
            <a href="#book" class="btn btn-brand">Reserva ahora</a>
          </div>
        </div>
        
      </nav>
    </header>