{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monagua | Agencia de Viajes y Turismo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />

    <link rel="preload" as="image" href="{% static 'img/Fondo.jpg' %}">
    <link rel="preload" as="image" href="{% static 'img/Fondo2.jpg' %}">
    <link rel="preload" as="image" href="{% static 'img/Fondo3.jpg' %}">
    <link rel="preload" as="image" href="{% static 'img/Fondo4.jpg' %}">
</head>
<body>

    {% include 'partials/header.html' %}

    <div class="wrapper"> 
        <div class="content-wrapper">
            <main class="container-fluid p-4 overflow-auto">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    {% include 'partials/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

    {% if messages %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          {% for message in messages %}
            Swal.fire({
              title: "{% if message.tags == 'success' %}¡Completado!{% elif message.tags == 'error' %}¡Ups!{% else %}Atención{% endif %}",
              text: "{{ message|escapejs }}",
              icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% else %}info{% endif %}",
              confirmButtonColor: '#3B643F', 
              confirmButtonText: 'Aceptar',
            });
          {% endfor %}
        });
      </script>
    {% endif %}

    <script src="{% static 'js/Java.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let ultimaPosicionScroll = window.scrollY;
            const barraNavegacion = document.querySelector('.navbar-custom');

            if (barraNavegacion) { 
                window.addEventListener('scroll', function() {
                    let posicionActualScroll = window.scrollY;

                if (ultimaPosicionScroll > posicionActualScroll) {
                    // Si subimos, mostramos la barra
                    barraNavegacion.classList.remove('barra-oculta');
                } else if (posicionActualScroll > 90) {
                    // Si bajamos, escondemos la barra
                    barraNavegacion.classList.add('barra-oculta');
                }
                
                ultimaPosicionScroll = posicionActualScroll;
            });
        }
    });
</script>
    

    
  </body>
</html>